<!DOCTYPE html>
<head>
    
</head>
<body>
    <div>
        <h1>WELCOME</h1>
        <a href=<%= login %>><button>Login</button></a>
        <p>This is a simple technical demo for using OAuth login credentials to authorize access to routes</p>
    </div>
</body>
</html>